{% extends "document.html.jinja2" %}
{% block title %}{{ data.title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        body { background: {{ data.bg_color }}; }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ data.title }}</h1>
    <p>
      {{ data.content }} 
    </p>
{% endblock %}
