{% extends "document.html.jinja2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        body { background: {{ bg_color }}; }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>
      {{ content }} 
    </p>
{% endblock %}
